<a href="https://colab.research.google.com/github/danhively/CS4499/blob/main/HW3_Hively.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3
Due: 2/13/23 Worth 100 pts 
Dan Hively

First use one of the techniques we used in class to import the United_States_COVID-19_Community_Levels_by_County dataset. (The dataset is under the assignment item in moodle).

In [26]:
# Import packages 
import os
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 

# Make sure we can get to the notebook and data file.
# Mount my Google Drive
from google.colab import drive
drive.mount('/content/drive/', force_remount=True)
os.chdir("/content/drive/My Drive/CS4499")
!ls -al

Mounted at /content/drive/
total 12316
-rw------- 1 root root     4812 Jan 15 05:19 HW1_Hively.ipynb
-rw------- 1 root root    25552 Jan 30 21:46 HW2_Hively.ipynb
-rw------- 1 root root    17932 Feb  8 21:23 HW3_Hively.ipynb
-rw------- 1 root root 12561569 Feb  7 00:11 United_States_COVID-19_Community_Levels_by_County.csv
-rw------- 1 root root      172 Feb  8 20:58 United_States_COVID-19_Community_Levels_by_County.gsheet

In [ ]:
# Bring in the data 
us_covid_df = pd.read_csv('United_States_COVID-19_Community_Levels_by_County.csv')

In [32]:
# What does the data look like?
us_covid_df.describe()

,county_fips,county_population,health_service_area_number,health_service_area_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k
count,112836.00000,1.128350e+05,112836.000000,1.128290e+05,112648.00000,112778.000000,112836.000000
mean,31438.02789,1.029200e+05,400.462033,5.808604e+05,3.25508,7.716028,144.930991
std,16331.50567,3.293638e+05,243.444960,9.952625e+05,2.66225,6.788769,186.263383
min,1001.00000,8.600000e+01,1.000000,2.274000e+03,0.00000,0.000000,0.000000
25%,19033.00000,1.113100e+04,186.000000,9.021200e+04,1.30000,3.000000,44.817500
50%,30027.00000,2.611800e+04,409.000000,2.249140e+05,2.80000,6.500000,106.760000
75%,46111.00000,6.721500e+04,587.000000,5.545570e+05,4.50000,10.700000,194.200000
max,78000.00000,1.003911e+07,905.000000,1.321480e+07,36.00000,171.200000,13017.750000

**Question 1**<br/>
How many samples (i.e. data points) are in this dataset?

In [42]:
sample_num = len(us_covid_df)
print("How many samples: " + str(sample_num))
#us_covid_df.info

How many samples: 112836

**Question 2** <br/>
What is the average population of all the counties in this dataset?

In [64]:
# Check if there are any NANs in the data.
count_nan = us_covid_df['county_population'].isnull().sum()
print('Number of NaN values present: ' + str(count_nan))

# Drop entries in coulmn that have NAN values.
us_covid_df.dropna(axis=1)

county_pop  = us_covid_df['county_population'].values
print(str(county_pop))
#print(str(np.mean(county_pop)))

Number of NaN values present: 1
[ 27593.  78981. 135692. ...  21209.  27395.  50023.]

**Question 3**
Create a histogram of the **Health Service Population** using 100 bins. Make sure to add a title to your plot.

**Question 4** <br/>
Using Python code, how many of the counties have a County Population greater than 100,000

**Question 5**<br/>
Of the counties sampled, what is the highest **Healtth Service Area Population**?

**Question 6** <br/> 
Which county appeared the most times in this dataset? <br/>
*Hint: There are multiple ways to approach this problem, the easiest is likely using your basic statistic functions.

**Question 7** <br/> 
How many states/territories  are preesnt in this dataset? <br/>

#Now let's focus on the final week measured on our dataset (October 20th)

**Question 8** <br/>
What is the datatype of the 'date_updated' column?

In reality pandas treats all non-primative classes as objects. Lucky for us, pandas has a datetime object we can work with (and a built-in method to work with).

**Question 9** <br/>
Convert the 'date_updated' from it's current type to datetime. Print the head of the column and the data type of the column.

**Question 10**
Create a new DataFrame with only data points updated on October 20th, 2022 <br/>
Print the head of this new DataFrame. <br/>
*Hint: Use .loc to do this and specify  your dates.*

**Question 11**<br/>
Which county has the hightest population? What state is it in? Print both as strings.<br/>
*Note: use 1 block of code to complete this.*<br/>
*Hint: Find the index of the max value first then use .loc*

**Question 12** <br/>
What was the population of all the counties sampled in Puerto Rico during this week?

**Question 13** <br/>
Create a histogram of the population of Puerto Rico using 50 bins.

**Question 14** <br/>
During this time period how many counties had 'covid-19_community_level' labeled High? How many medium? How many low?

**Question 15** <br/>
Using only code create a Pie chart to visualize your results from Question 14. Make sure to use proper labels (show either the counts or a %) and add a title. 
*Hint: The pandas plot methods will make this much easier.*

**Question 16 (Graduate Students Only)** <br/>
Using only code, identify the 10 counties with the highest COVID Caes by 100k for October 20th, 2020. Again, only using code, visualize this information with a bar graph. Make sure to use appropriate lables and add a title to the graph.