# Mid-Project: Predicting Sports Winners
Data Science and Applied Machine Learning \\
Adpopted from material from Dr. Kerby \\
Student Name: Dan Hively \\
Date Due: April 5, 2023, 11:59 PM

### Question 1: Gather Data from 2021-2022
*Gather* data from [Basketball Reference](https://www.basketball-reference.com/leagues/NBA_2022.html) <br>

Data can be downloaded by clicking on the `Share and Export` drop-down list at the middle top of available tables. Start off by clicking `Schedule and Results` and downloading the monthly games tables. Combine these into one table. Then import the full games-results table into python.

In [3]:
# Imports
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Gather data - This will be the baseline data set.
fulldf = pd.read_csv('https://raw.github.com/danhively/CS4499/main/Mid-Poject/NBA_2021-22.csv')

# This will be commented out before submission.
# Mount my Google Drive
# I want to save a CSV after manipulations to check it.
#from google.colab import drive
#mntPath = '/content/drive/'
#drive.mount(mntPath, force_remount=True)
#svPath = mntPath + "My Drive/CS4499/Mid-Project/"
#fulldf.to_csv(svPath + "fulldf.csv")

#######################################
#   Useful Functions                  #
#######################################

# Function to rename a column by position
def rename_column_by_position(df, position, new_name):
    if 0 <= position < len(df.columns):
        columns = df.columns.tolist()
        columns[position] = new_name
        df.columns = columns
    else:
        raise ValueError(f"Invalid position. DataFrame has {len(df.columns)} columns.")

# Function to compare H_Score and V_Score
def compare_scores(row):
    if row['H_Score'] > row['V_Score']:
        return True
    else:
        return False

### Question 2: EDA and Preprocessing
Explore your dataset and make any preprocessing adjustments necessary. You must perform at least 3 operations on exploring your data. Each one must provide unqiue insight to the data. At the bottom of this problem, write a paragraph (at least 5 sentences) explaining what you did and found out.

In [4]:
# Print some basic information about the dataset.
# Print the shape of the DataFrame
print('----------------------------')
print('Shape')
print('----------------------------')
print(fulldf.shape)

# Print some summary statistics of the DataFrame
print('----------------------------')
print('statistics')
print('----------------------------')
print(fulldf.describe())

# Print the list of columns in the CSV file.
print('----------------------------')
print('Columns')
print('----------------------------')
print(fulldf.columns)

# Print the first five rows of the DataFrame
print('----------------------------')
print('First 5 rows')
print('----------------------------')
print(fulldf.head())

# Count the number of NaN values in each column
print('----------------------------')
print('Number of NaN values')
print('----------------------------')
nan_count = fulldf.isna().sum()
print(nan_count)

# Find columns with NaN values
null_columns = fulldf.columns[fulldf.isna().any()].tolist()

# Display column headings with null values
print('----------------------------')
print('Column headings with null values')
print('----------------------------')
print(null_columns)

----------------------------
Shape
----------------------------
(1171, 11)
----------------------------
statistics
----------------------------
               PTS        PTS.1  Notes
count  1171.000000  1171.000000    0.0
mean    111.382579   112.558497    NaN
std      12.563364    12.510739    NaN
min      75.000000    73.000000    NaN
25%     103.000000   104.000000    NaN
50%     111.000000   112.000000    NaN
75%     120.000000   121.000000    NaN
max     154.000000   154.000000    NaN
----------------------------
Columns
----------------------------
Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'PTS', 'Home/Neutral', 'PTS.1',
       'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Arena', 'Notes'],
      dtype='object')
----------------------------
First 5 rows
----------------------------
                Date Start (ET)        Visitor/Neutral  PTS  \
0  Tue, Dec 22, 2020      7:00p  Golden State Warriors   99
1  Tue, Dec 22, 2020     10:00p   Los Angeles Clippers  116
2  Wed, Dec 23, 2020      7:00p      Charlotte Hornets  114
3  Wed, Dec 23, 2020      7:00p        New York Knicks  107
4  Wed, Dec 23, 2020      7:00p             Miami Heat  107

          Home/Neutral  PTS.1 Unnamed: 6 Unnamed: 7 Attend.  \
0        Brooklyn Nets    125  Box Score        NaN       0
1   Los Angeles Lakers    109  Box Score        NaN       0
2  Cleveland Cavaliers    121  Box Score        NaN     300
3       Indiana Pacers    121  Box Score        NaN       0
4        Orlando Magic    113  Box Score        NaN   3,396

                        Arena  Notes
0             Barclays Center    NaN
1              STAPLES Center    NaN
2  Rocket Mortgage Fieldhouse    NaN
3     Bankers Life Fieldhouse    NaN
4                Amway Center    NaN
----------------------------
Number of NaN values
----------------------------
Date                  0
Start (ET)            0
Visitor/Neutral       0
PTS                   0
Home/Neutral          0
PTS.1                 0
Unnamed: 6            0
Unnamed: 7         1111
Attend.               7
Arena                 0
Notes              1171
dtype: int64
----------------------------
Column headings with null values
----------------------------
['Unnamed: 7', 'Attend.', 'Notes']

What I discoverwed about the data.

The data

### Question 3: Feature Engineering

Create a column for whether or not the home team won the game; call it `HomeWin`. Use Pandas and your knowledge of Python to fill in this data. This will become our target -- ie what we are trying to predict.

In [5]:
# Create a copy of the fulldf DataFrame
winsdf = fulldf.copy()

# We have 2 columns that have the same name. Let's rename them.

# Rename the columns
rename_column_by_position(winsdf, 3, 'V_Score')
rename_column_by_position(winsdf, 5, 'H_Score')

# Create a new column 'HomeWin' based on whether 'H_Score' is greater than 'V_Score' .
# True if H_Score is greater than V_Score otherwise False.
winsdf['HomeWin'] = winsdf.apply(compare_scores, axis=1)

# Display the new DataFrame with the added column.
print("\nNew DataFrame with 'HomeWin' column (winsdf):")
print(winsdf.columns)
print(winsdf)
print(winsdf['HomeWin'])

New DataFrame with 'HomeWin' column (winsdf):
Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'V_Score', 'Home/Neutral',
       'H_Score', 'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Arena', 'Notes',
       'HomeWin'],
      dtype='object')
                   Date Start (ET)        Visitor/Neutral  V_Score  \
0     Tue, Dec 22, 2020      7:00p  Golden State Warriors       99
1     Tue, Dec 22, 2020     10:00p   Los Angeles Clippers      116
2     Wed, Dec 23, 2020      7:00p      Charlotte Hornets      114
3     Wed, Dec 23, 2020      7:00p        New York Knicks      107
4     Wed, Dec 23, 2020      7:00p             Miami Heat      107
...                 ...        ...                    ...      ...
1166   Thu, Jul 8, 2021      9:00p        Milwaukee Bucks      108
1167  Sun, Jul 11, 2021      8:00p           Phoenix Suns      100
1168  Wed, Jul 14, 2021      9:00p           Phoenix Suns      103
1169  Sat, Jul 17, 2021      9:00p        Milwaukee Bucks      123
1170  Tue, Jul 20, 2021      9:00p           Phoenix Suns       98

             Home/Neutral  H_Score Unnamed: 6 Unnamed: 7 Attend.  \
0           Brooklyn Nets      125  Box Score        NaN       0
1      Los Angeles Lakers      109  Box Score        NaN       0
2     Cleveland Cavaliers      121  Box Score        NaN     300
3          Indiana Pacers      121  Box Score        NaN       0
4           Orlando Magic      113  Box Score        NaN   3,396
...                   ...      ...        ...        ...     ...
1166         Phoenix Suns      118  Box Score        NaN  16,583
1167      Milwaukee Bucks      120  Box Score        NaN  16,637
1168      Milwaukee Bucks      109  Box Score        NaN  16,911
1169         Phoenix Suns      119  Box Score        NaN  16,562
1170      Milwaukee Bucks      105  Box Score        NaN  17,397

                           Arena  Notes  HomeWin
0                Barclays Center    NaN     True
1                 STAPLES Center    NaN    False
2     Rocket Mortgage Fieldhouse    NaN     True
3        Bankers Life Fieldhouse    NaN     True
4                   Amway Center    NaN     True
...                          ...    ...      ...
1166          Phoenix Suns Arena    NaN     True
1167                Fiserv Forum    NaN     True
1168                Fiserv Forum    NaN     True
1169          Phoenix Suns Arena    NaN    False
1170                Fiserv Forum    NaN     True

[1171 rows x 12 columns]
0        True
1       False
2        True
3        True
4        True
        ...
1166     True
1167     True
1168     True
1169    False
1170     True
Name: HomeWin, Length: 1171, dtype: bool

### Question 4: Feature Engineering II
Create two columns for how many games the home and visitor teams have won thus far in the season. Call them `HomeNumWins` and `VisitorNumWins`.
 
For example Game 1 for the Utah Jazz was against the OKC Thunder. The Jazz were the home team, OKC was the road team. Since this is game 1 for both teams `HomeNumWins` and `VisitorNumWins` will be 0. The Jazz won this game and were the road team for their next game (against the Sacramento Kings),  `VisitorNumWins` should be a 1 for this value. OKC would go on to lose their second game (on the road to Houston), Game 3 was their first home game. So for OKC's 3rd game (against the 76ers) `HomeNumWins` would be 0. 

Hint: Store each team and the number of intial wins (0) in a Python dictionary. You can then increment this value as you go through the dataset and use this information to update your feature.

In [6]:
# Create two new columns 'HomeNumWins' and 'VisitorNumWins'
winsdf['HomeNumWins'] = 0
winsdf['VisitorNumWins'] = 0

# Dictionary to store wins for each team
team_wins = {}

# Get all team names and print them.
teams = set(winsdf['Home/Neutral']).union(winsdf['Visitor/Neutral'])
print(teams)


# Initialize the dictionary with 0 wins for each team
for team in teams:
    team_wins[team] = 0

for index, row in winsdf.iterrows():
    home_team = row['Home/Neutral']
    visitor_team = row['Visitor/Neutral']
    home_win = row['HomeWin']
    
    if home_win:
        team_wins[home_team] += 1
        winsdf.at[index, 'HomeNumWins'] = team_wins[home_team]
        winsdf.at[index, 'VisitorNumWins'] = team_wins[visitor_team]
    else:
        team_wins[visitor_team] += 1
        winsdf.at[index, 'HomeNumWins'] = team_wins[home_team]
        winsdf.at[index, 'VisitorNumWins'] = team_wins[visitor_team]

print(winsdf)
print(winsdf.columns)

# Save the resulting DataFrame to a CSV file just to check it has been
# modified properly. This will be commented out before submission.
#print('===========================================')
#winsdf.to_csv(svPath + "winsdf.csv")
#print("CSV file saved as 'winsdf.csv'")

{'Miami Heat', 'Sacramento Kings', 'Golden State Warriors', 'Orlando Magic', 'San Antonio Spurs', 'Boston Celtics', 'Denver Nuggets', 'New Orleans Pelicans', 'Indiana Pacers', 'Milwaukee Bucks', 'Los Angeles Lakers', 'Philadelphia 76ers', 'Chicago Bulls', 'Detroit Pistons', 'Memphis Grizzlies', 'Phoenix Suns', 'Portland Trail Blazers', 'Utah Jazz', 'Oklahoma City Thunder', 'Brooklyn Nets', 'Washington Wizards', 'Atlanta Hawks', 'Cleveland Cavaliers', 'Charlotte Hornets', 'Los Angeles Clippers', 'Dallas Mavericks', 'Toronto Raptors', 'New York Knicks', 'Minnesota Timberwolves', 'Houston Rockets'}
                   Date Start (ET)        Visitor/Neutral  V_Score  \
0     Tue, Dec 22, 2020      7:00p  Golden State Warriors       99
1     Tue, Dec 22, 2020     10:00p   Los Angeles Clippers      116
2     Wed, Dec 23, 2020      7:00p      Charlotte Hornets      114
3     Wed, Dec 23, 2020      7:00p        New York Knicks      107
4     Wed, Dec 23, 2020      7:00p             Miami Heat      107
...                 ...        ...                    ...      ...
1166   Thu, Jul 8, 2021      9:00p        Milwaukee Bucks      108
1167  Sun, Jul 11, 2021      8:00p           Phoenix Suns      100
1168  Wed, Jul 14, 2021      9:00p           Phoenix Suns      103
1169  Sat, Jul 17, 2021      9:00p        Milwaukee Bucks      123
1170  Tue, Jul 20, 2021      9:00p           Phoenix Suns       98

             Home/Neutral  H_Score Unnamed: 6 Unnamed: 7 Attend.  \
0           Brooklyn Nets      125  Box Score        NaN       0
1      Los Angeles Lakers      109  Box Score        NaN       0
2     Cleveland Cavaliers      121  Box Score        NaN     300
3          Indiana Pacers      121  Box Score        NaN       0
4           Orlando Magic      113  Box Score        NaN   3,396
...                   ...      ...        ...        ...     ...
1166         Phoenix Suns      118  Box Score        NaN  16,583
1167      Milwaukee Bucks      120  Box Score        NaN  16,637
1168      Milwaukee Bucks      109  Box Score        NaN  16,911
1169         Phoenix Suns      119  Box Score        NaN  16,562
1170      Milwaukee Bucks      105  Box Score        NaN  17,397

                           Arena  Notes  HomeWin  HomeNumWins  VisitorNumWins
0                Barclays Center    NaN     True            1               0
1                 STAPLES Center    NaN    False            0               1
2     Rocket Mortgage Fieldhouse    NaN     True            1               0
3        Bankers Life Fieldhouse    NaN     True            1               0
4                   Amway Center    NaN     True            1               0
...                          ...    ...      ...          ...             ...
1166          Phoenix Suns Arena    NaN     True           65              58
1167                Fiserv Forum    NaN     True           59              65
1168                Fiserv Forum    NaN     True           60              65
1169          Phoenix Suns Arena    NaN    False           65              61
1170                Fiserv Forum    NaN     True           62              65

[1171 rows x 14 columns]
Index(['Date', 'Start (ET)', 'Visitor/Neutral', 'V_Score', 'Home/Neutral',
       'H_Score', 'Unnamed: 6', 'Unnamed: 7', 'Attend.', 'Arena', 'Notes',
       'HomeWin', 'HomeNumWins', 'VisitorNumWins'],
      dtype='object')

In [7]:
# Example with old, 2018-2019, season data
import pandas as pd
import numpy as np

sports = pd.read_csv("https://gitlab.com/CEADS/DrKerby/python/-/raw/master/basketball.csv")
sports

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes
0,Tue Oct 16 2018,8:00p,Philadelphia 76ers,87,Boston Celtics,105,Box Score,NaN,18624,NaN
1,Tue Oct 16 2018,10:30p,Oklahoma City Thunder,100,Golden State Warriors,108,Box Score,NaN,19596,NaN
2,Wed Oct 17 2018,7:00p,Milwaukee Bucks,113,Charlotte Hornets,112,Box Score,NaN,17889,NaN
3,Wed Oct 17 2018,7:00p,Brooklyn Nets,100,Detroit Pistons,103,Box Score,NaN,20332,NaN
4,Wed Oct 17 2018,8:00p,New Orleans Pelicans,131,Houston Rockets,112,Box Score,NaN,18055,NaN
...,...,...,...,...,...,...,...,...,...,...
1307,Sun Jun 2 2019,8:00p,Golden State Warriors,109,Toronto Raptors,104,Box Score,NaN,20014,NaN
1308,Wed Jun 5 2019,9:00p,Toronto Raptors,123,Golden State Warriors,109,Box Score,NaN,19596,NaN
1309,Fri Jun 7 2019,9:00p,Toronto Raptors,105,Golden State Warriors,92,Box Score,NaN,19596,NaN
1310,Mon Jun 10 2019,9:00p,Golden State Warriors,106,Toronto Raptors,105,Box Score,NaN,20144,NaN
1311,Thu Jun 13 2019,9:00p,Toronto Raptors,114,Golden State Warriors,110,Box Score,NaN,19596,NaN

In [8]:
sports['Unnamed: 6'].unique()

array(['Box Score'], dtype=object)

In [9]:
sports['Unnamed: 7'].unique()

array([nan, 'OT', '2OT', '3OT', '4OT'], dtype=object)

In [10]:
sports['Notes'].unique()

array([nan, 'at Mexico City Mexico', 'at London England'], dtype=object)

In [11]:
from collections import defaultdict
won_last = defaultdict(int)

won_last
# Create HomeWin column
sports['HomeWin'] = sports['PTS.1'] > sports['PTS']
sports.head()
# Create new columns and initialize with zero
sports['HomeLastWin'] = 0
sports['VisitorLastWin'] = 0

sports.head()

# Take a slice first, sports[:5]
for index, row in sports.iterrows():
  #print(index, row['Home/Neutral'], row['PTS.1'])
  home_team = row['Home/Neutral']
  visitor_team = row['Visitor/Neutral']
  sports.loc[index,'HomeLastWin'] = won_last[home_team]
  sports.loc[index,'VisitorLastWin'] = won_last[visitor_team]

  # Who won this game, to record it in the next game?
  #print(int(row['HomeWin']))  # typecast boolean to int (false->0, true->1)
  won_last[home_team] = int(row['HomeWin'])
  won_last[visitor_team] = 1 - int(row['HomeWin'])

sports.head(50)
#type(sports['Date'][0])

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 6,Unnamed: 7,Attend.,Notes,HomeWin,HomeLastWin,VisitorLastWin
0,Tue Oct 16 2018,8:00p,Philadelphia 76ers,87,Boston Celtics,105,Box Score,NaN,18624,NaN,True,0,0
1,Tue Oct 16 2018,10:30p,Oklahoma City Thunder,100,Golden State Warriors,108,Box Score,NaN,19596,NaN,True,0,0
2,Wed Oct 17 2018,7:00p,Milwaukee Bucks,113,Charlotte Hornets,112,Box Score,NaN,17889,NaN,False,0,0
3,Wed Oct 17 2018,7:00p,Brooklyn Nets,100,Detroit Pistons,103,Box Score,NaN,20332,NaN,True,0,0
4,Wed Oct 17 2018,8:00p,New Orleans Pelicans,131,Houston Rockets,112,Box Score,NaN,18055,NaN,False,0,0
5,Wed Oct 17 2018,7:00p,Memphis Grizzlies,83,Indiana Pacers,111,Box Score,NaN,17923,NaN,True,0,0
6,Wed Oct 17 2018,10:30p,Denver Nuggets,107,Los Angeles Clippers,98,Box Score,NaN,19068,NaN,False,0,0
7,Wed Oct 17 2018,7:30p,Atlanta Hawks,107,New York Knicks,126,Box Score,NaN,18249,NaN,True,0,0
8,Wed Oct 17 2018,7:00p,Miami Heat,101,Orlando Magic,104,Box Score,NaN,19191,NaN,True,0,0
9,Wed Oct 17 2018,10:30p,Dallas Mavericks,100,Phoenix Suns,121,Box Score,NaN,18055,NaN,True,0,0
10,Wed Oct 17 2018,10:00p,Utah Jazz,123,Sacramento Kings,117,Box Score,NaN,17583,NaN,False,0,0
11,Wed Oct 17 2018,8:30p,Minnesota Timberwolves,108,San Antonio Spurs,112,Box Score,NaN,18354,NaN,True,0,0
12,Wed Oct 17 2018,7:30p,Cleveland Cavaliers,104,Toronto Raptors,116,Box Score,NaN,19915,NaN,True,0,0
13,Thu Oct 18 2018,8:00p,Chicago Bulls,108,Philadelphia 76ers,127,Box Score,NaN,20302,NaN,True,0,0
14,Thu Oct 18 2018,10:30p,Los Angeles Lakers,119,Portland Trail Blazers,128,Box Score,NaN,19996,NaN,True,0,0
15,Thu Oct 18 2018,8:00p,Miami Heat,113,Washington Wizards,112,Box Score,NaN,20409,NaN,False,0,0
16,Fri Oct 19 2018,7:30p,New York Knicks,105,Brooklyn Nets,107,Box Score,NaN,17732,NaN,True,0,1
17,Fri Oct 19 2018,10:30p,Oklahoma City Thunder,92,Los Angeles Clippers,108,Box Score,NaN,14816,NaN,True,0,0
18,Fri Oct 19 2018,8:00p,Atlanta Hawks,117,Memphis Grizzlies,131,Box Score,NaN,17019,NaN,True,0,0
19,Fri Oct 19 2018,8:30p,Indiana Pacers,101,Milwaukee Bucks,118,Box Score,NaN,17341,NaN,True,1,1
20,Fri Oct 19 2018,8:00p,Cleveland Cavaliers,123,Minnesota Timberwolves,131,Box Score,NaN,18978,NaN,True,0,0
21,Fri Oct 19 2018,8:00p,Sacramento Kings,129,New Orleans Pelicans,149,Box Score,NaN,18337,NaN,True,1,0
22,Fri Oct 19 2018,7:00p,Charlotte Hornets,120,Orlando Magic,88,Box Score,NaN,17668,NaN,False,1,0
23,Fri Oct 19 2018,8:00p,Boston Celtics,101,Toronto Raptors,113,Box Score,NaN,19800,NaN,True,1,1
24,Fri Oct 19 2018,10:30p,Golden State Warriors,124,Utah Jazz,123,Box Score,NaN,18306,NaN,False,1,1
25,Sat Oct 20 2018,8:00p,Detroit Pistons,118,Chicago Bulls,116,Box Score,NaN,21289,NaN,False,0,1
26,Sat Oct 20 2018,8:30p,Minnesota Timberwolves,136,Dallas Mavericks,140,Box Score,NaN,20205,NaN,True,0,1
27,Sat Oct 20 2018,9:00p,Phoenix Suns,91,Denver Nuggets,119,Box Score,NaN,19592,NaN,True,1,1
28,Sat Oct 20 2018,7:00p,Brooklyn Nets,112,Indiana Pacers,132,Box Score,NaN,17007,NaN,True,0,1
29,Sat Oct 20 2018,10:30p,Houston Rockets,124,Los Angeles Lakers,115,Box Score,NaN,18997,NaN,False,0,0
30,Sat Oct 20 2018,8:00p,Charlotte Hornets,113,Miami Heat,112,Box Score,NaN,19600,NaN,False,1,1
31,Sat Oct 20 2018,7:30p,Boston Celtics,103,New York Knicks,101,Box Score,NaN,19427,NaN,False,0,0
32,Sat Oct 20 2018,7:30p,Orlando Magic,115,Philadelphia 76ers,116,Box Score,NaN,20300,NaN,True,1,0
33,Sat Oct 20 2018,10:00p,San Antonio Spurs,108,Portland Trail Blazers,121,Box Score,NaN,19461,NaN,True,1,1
34,Sat Oct 20 2018,7:00p,Toronto Raptors,117,Washington Wizards,113,Box Score,NaN,16185,NaN,False,0,1
35,Sun Oct 21 2018,6:00p,Atlanta Hawks,133,Cleveland Cavaliers,111,Box Score,NaN,19432,NaN,False,0,0
36,Sun Oct 21 2018,8:00p,Golden State Warriors,98,Denver Nuggets,100,Box Score,NaN,19520,NaN,True,1,1
37,Sun Oct 21 2018,9:00p,Houston Rockets,112,Los Angeles Clippers,115,Box Score,NaN,16149,NaN,True,1,1
38,Sun Oct 21 2018,7:00p,Sacramento Kings,131,Oklahoma City Thunder,120,Box Score,NaN,18203,NaN,False,0,0
39,Mon Oct 22 2018,7:30p,Orlando Magic,93,Boston Celtics,90,Box Score,NaN,18624,NaN,False,1,0
40,Mon Oct 22 2018,8:30p,Chicago Bulls,109,Dallas Mavericks,115,Box Score,NaN,19291,NaN,True,1,0
41,Mon Oct 22 2018,10:30p,Phoenix Suns,103,Golden State Warriors,123,Box Score,NaN,19596,NaN,True,0,0
42,Mon Oct 22 2018,10:30p,San Antonio Spurs,143,Los Angeles Lakers,142,Box Score,OT,18997,NaN,False,0,0
43,Mon Oct 22 2018,8:00p,New York Knicks,113,Milwaukee Bucks,124,Box Score,NaN,16228,NaN,True,1,0
44,Mon Oct 22 2018,8:00p,Indiana Pacers,91,Minnesota Timberwolves,101,Box Score,NaN,10371,NaN,True,0,1
45,Mon Oct 22 2018,10:00p,Washington Wizards,125,Portland Trail Blazers,124,Box Score,OT,19187,NaN,False,1,0
46,Mon Oct 22 2018,7:30p,Charlotte Hornets,106,Toronto Raptors,127,Box Score,NaN,19800,NaN,True,1,1
47,Mon Oct 22 2018,9:00p,Memphis Grizzlies,92,Utah Jazz,84,Box Score,NaN,18306,NaN,False,0,1
48,Tue Oct 23 2018,9:00p,Sacramento Kings,112,Denver Nuggets,126,Box Score,NaN,13214,NaN,True,1,1
49,Tue Oct 23 2018,7:00p,Philadelphia 76ers,132,Detroit Pistons,133,Box Score,OT,14418,NaN,True,1,1

### Question 5: Model

Train a decision tree model to determine if the home team won (a 1 is a win and a 0 is a loss. Evaluate your model. At the bottom of this problem write 2 paragraphs explaining your models, its performance and any possible issues you see with it. Comment on the most "important" features in the model.

Remember to split the dataset into training and testing sets and delete any columns that you deem unuseful. (Hint: Do not use any information that you wouldn't know before the game is played, the idea is to create a model that predicts wins)

### Question 6: Add data from the previous season
Go back to the website and download the team standings from the PREVIOUS season. You will find it in the `Standings` tab. Keep just the number of wins and create two new columns called `HomeWins2020` and `VisitorWins2020`.

### Question 7: Repeat Model

Repeat your analysis from Question 5.

### Question 8: Analysis and Discussion
What was your best-performing model? \\
How well did it do? \\
Was it overfit? \\
What seems to be the most important feature(s)? \\
How well did your model perform compared to blindly guessing the Home Team won?

### GRADUATE STUDENTS ONLY
Incorporate new data in at least two different ways: \\
1) Go back to the website and incorporate more data (you choose which data to import; \\
2) Feature engineer at least one more feature from the data you have.

Repeat Question 5 modeling.

Repeat Question 8 analysis.